.background {
    background: linear-gradient(225deg, #16C6E9FF, #A216E9FF);
    background-size: 400% 400%;
    animation : gradient 15s ease infinite;
    min-height: 92.3dvh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}